.ui-widget {
	font-size: 12px !important;
}

body {
	background-color: #F2F2F2;
	margin: 0px;
	height: 100%;
}

.headerBox {
	width: 980px;
	height: 60px;
	margin: 0px 0px 0px 0px;
	background-size: 100% 100%;
	text-align: left;
	font-size: 18px !important;
	font-family: Verdana !important;
	font-weight: bold !important;
	padding-top: 10px !important;
	padding-left: 15px !important;
}

#headerBoxLogin {
	height: 40px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-family: Verdana;
	font-weight: bold;
	margin-top: 15px;
}

.header-title {
	font-size: 12px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
}

#fullPageDiv {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

#centerPageDiv {
	left: 50%;
	margin-left: -500px;
	position: relative;
	width: 1000px;
	min-width: 1000px;
	height: 100%;
}

#logindiv {
	width: 500px;
	height: 222px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -111px;
	margin-left: -250px;
}

#alterarsenhadiv {
	width: 500px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
}

.nopadding {
	padding: 0px !important;
}

.panelgrid-nopadding td {
	padding: 0px !important;
}

.noborder {
	border: 0px;
}

.noborder tbody {
	border: 0px;
}

.noborder tbody tr {
	border: 0px;
}

.noborder tbody tr td {
	border: 0px !important;
}

.leftMenu {
	vertical-align: top;
	width: 150px;
	padding-top: 4px !important;
}

.labelColumn {
	text-align: left;
}

.valueColumn {
	text-align: left;
}

.inputFull {
	width: 700px;
}

.inputHalf {
	width: 334px;
}

.datatable-button {
	width: 28px;
	height: 28px;
	vertical-align: top;
}

.datatable-button-right {
	margin-left: 5px;
}

fieldset {
	text-align: center;
	padding-top: 10px;
}

.ui-datatable .ui-datatable-odd.ui-state-highlight {
	background: linear-gradient(#ffffff, #C0C0BE);
	border: 1px solid #969696;
	color: #000;
}

.ui-datatable .ui-datatable-even.ui-state-highlight {
	background: linear-gradient(#ffffff, #C0C0BE);
	border: 1px solid #969696;
	color: #000;
}

.ui-state-highlight {
	background: linear-gradient(#ffffff, #C0C0BE);
	border: 1px solid #969696;
	color: #000;
}

.ui-messages-info {
	color: #393666 !important;
	background-color: #D6E0F0 !important;
	border-color: #B5B0F1 !important;
}

.leftAligned {
	text-align: left;
}

.rightAligned {
	text-align: right;
}

.divBotoesEdicao {
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}

.botaoNovo {
	margin: 0px;
	margin-bottom: 7px;
}

.botaoSalvar {
	margin-left: 5px;
}

.picklist-large tbody tr td ul {
	width: 300px !important;
}

.picklist-nopadding tbody tr td {
	padding: 0px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus {
	padding: 0;
}

.ui-dialog-title {
	font-size: 12px !important;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	font-size: 12px !important;
}

.ui-widget-overlay {
	background: #aaaaaa url(../imgs/ui-bg-flat.png) 50% 50% repeat-x;
	opacity: .30;
	filter: Alpha(Opacity = 30);
}